{% extends "emails/base.html" %}

{% block content %}
<p>You requested to be notified of new records matching your search with the following parameters:</p>
<ul>{% for field in record.parameters %}
    <li>{{ field.description }}: <span style="font-weight: bold;">{{ field.value }}</span></li>
{% endfor %}</ul>
<p>The following new record has been found:</p>
<ul style="list-style-type: none;">{% for field in record.result %}
    <li>{{ field.description }}: <span style="font-weight: bold;"">{{ field.value }}</span></li>
{% endfor %}</ul>
<p>To cancel future notifications matching these criteria, click <a href="{{ url_for('cancel_registration', token=id_token, _external=True) }}">here</a>.</p>
{% endblock %}