{% extends "base.html" %}

{% block content %}
<h1>Welcome to Probate Search WA</h1>
<hr>
<div id="intro">
    <p id="creator">
        Created 2021 by Jeremy Thomas London
    </p>
    <p id="version">
        v {{ config['VERSION'] }}
    </p>
    <address>
        Please report any bugs to <a href="mailto:{{ config['EMAIL_ADDRESS'] }}?subject=Probate%20Search">{{ config['EMAIL_ADDRESS'] }}</a>
    </address>
    <p id="changelog"></p>
</div>
<hr>
<h2>Search form</h2>
<div id="search">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField", "SubmitField") %}
        <div id="{{ field.id }}-div">
            {{ field.label }}<br>
            {{ field(size=32) }}<br>
            {% for error in field.errors %}
            <span class="error">{{ error|safe }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>
{% if results %}
{% include "results.html" %}
{% endif %}
<aside><p>
    Last database update: 
    {% if config['LAST_DATABASE_UPDATE'] %}
    <time datetime="{{ config['LAST_DATABASE_UPDATE'].strftime('%Y-%m-%d %H:%M:%S%z') }}">{{ config['LAST_DATABASE_UPDATE'].strftime('%Y-%m-%d %H:%M:%S%z') }}</time>
    {% else %}
    None
    {% endif %}
</p></aside>
{% endblock %}
