{% extends "base.html" %}

{% block content %}
<h1>Welcome to Probate Search WA</h1>
<hr>
<div id="intro">
    <p id="creator">
        Created 2021 by Jeremy Thomas London
    </p>
    <p id="version">
        v {{ config['VERSION'] }}
    </p>
    <address>
        Please send any feedback to <a href="mailto:{{ config['MAIL_USERNAME'] }}?subject=Probate%20Search">{{ config['MAIL_USERNAME'] }}</a>
    </address>
    <p id="changelog"></p>
</div>
<hr>
<div id="search">
    <h2>Search form</h2>
    <p>Not case sensitive. You may use "%" as a multi-character wildcard and "_" as a single character wildcard.</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% if config['UPDATING'] %}
        {% set exclusions = ("CSRFTokenField", "SubmitField") %}
        {% else %}
        {% set exclusions = ("CSRFTokenField", "SubmitField", "EmailField") %}
        {% endif %}
        {% for field in form %}
        {% if field.type not in exclusions %}
        <div id="{{ field.id }}-div" class="field">
            {{ field.label }}<br>
            {{ field(size=32) }}<br>
            {% for error in field.errors %}
            <span class="error">{{ error|safe }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="flashes">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor%}
            </ul>
        {% endif %}
        {% endwith %}
        </div>
        {% if config['UPDATING'] %}
        <p>Click <a href="{{ url_for('manage_registration') }}">here</a> to manage existing notification requests.</p>
        {% endif %}
        <p>{{ form.submit() }}</p>
    </form>
</div>
<aside>
    <p>
        Last database update: 
        {% if last_update %}
        <time datetime="{{ last_update }}">{{ last_update }}</time>
        {% else %}
        None
        {% endif %}
    </p>
    {% if not config['UPDATING'] %}
    <p>Unfortunately, the source data is no longer accessible, so this database is no longer able to be updated.</p>
    {% endif %}
</aside>
<div id="results">
    {% if request.method == 'POST' %}
    <h2>Search results</h2>
    {% if results %}
    {% include "results.html" %}
    {% else %}
    No results.
    {% endif %}
    {% endif %}
</div>
{% endblock %}
