{% extends "base.html" %}

{% block content %}
<div id="search">
    <h2>Manage registration</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% for field in form %}
        {% if field.type not in ("CSRFTokenField", "SubmitField") %}
        <div id="{{ field.id }}-div" class="field">
            {{ field.label }}<br>
            {{ field(size=32) }}<br>
            {% for error in field.errors %}
            <span class="error">{{ error|safe }}</span>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
    <div class="flashes">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color: green;">{{ message }}</li>
            {% endfor%}
        </ul>
    {% endif %}
    {% endwith %}
    </div>
</div>
<div>Click <a href="{{ url_for('home') }}">here</a> to return to the homepage.</div>
{% endblock %}
